body {
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            flex-direction: column;
            align-items: center;
        }

        .custom-form {
            max-width: 800px;
            margin: auto;
            padding: 50px;
            border-radius: 8px;
        }

        .custom-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .red-text {
            color: rgb(14, 14, 14);
            background-color: #fcc2c2;
            padding: 10px;
            border-radius: 5px;
        }

        .custom-dropdown-btn {
            --bs-btn-color: #000;
            --bs-btn-bg: #aaabac;
            --bs-btn-border-color: #595858;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #3b3d3c;
            --bs-btn-hover-border-color: #303131;
            --bs-btn-active-bg: #3b3d3c;
            --bs-btn-active-border-color: #3b3d3c;
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #3b3d3c;
            --bs-btn-disabled-border-color: #3b3d3c;
            --bs-btn-font-size: 1rem;
            --bs-btn-font-weight: 700;
        }

        label {
            font-size: 1.1rem;
            font-weight: 700;
            display: inline-block;
        }

        @media (max-width: 768px) {
            .custom-form {
                padding: 20px;
                border-radius: 5px;
            }

            .custom-input {
                padding: 8px;
                margin-bottom: 10px;
                border-radius: 8px;
            }

            .red-text {
                padding: 8px;
                border-radius: 4px;
            }

            .custom-dropdown-btn {
                --bs-btn-font-size: 0.875rem;
                --bs-btn-font-weight: 600;
            }

            label {
                font-size: 1rem;
                font-weight: 600;
            }
        }

        @media (max-width: 480px) {
            .custom-form {
                padding: 15px;
                border-radius: 3px;
            }

            .custom-input {
                padding: 6px;
                margin-bottom: 8px;
                border-radius: 6px;
            }

            .red-text {
                padding: 6px;
                border-radius: 3px;
            }

            .custom-dropdown-btn {
                --bs-btn-font-size: 0.75rem;
                --bs-btn-font-weight: 500;
            }

            label {
                font-size: 0.875rem;
                font-weight: 500;
            }
        }