
.custom-dropdown .custom-menu {
    background-color: white;
  }
  
  .custom-dropdown .custom-menu .dropdown-item {
    color: black;
  }

  .btn-primary {
    --bs-btn-bg: #ff0000; /* Red background */
}

  